<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 UAH Space Research Group.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v20.html
 
 Contributors:
     SRG Team - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enum -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/enum"
            class="es.uah.aut.srg.tmtcif.enum_.enumPackage"
            genModel="model/enum.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fieldvalue -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/fieldvalue"
            class="es.uah.aut.srg.tmtcif.fieldvalue.fieldvaluePackage"
            genModel="model/fieldvalue.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tcheader -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/tcheader"
            class="es.uah.aut.srg.tmtcif.tcheader.tcheaderPackage"
            genModel="model/tcheader.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tc -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/tc"
            class="es.uah.aut.srg.tmtcif.tc.tcPackage"
            genModel="model/tc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tm -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/tm"
            class="es.uah.aut.srg.tmtcif.tm.tmPackage"
            genModel="model/tm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tmheader -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/tmheader"
            class="es.uah.aut.srg.tmtcif.tmheader.tmheaderPackage"
            genModel="model/tmheader.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenario -->
      <package
            uri="http://srg.aut.uah.es/tmtcif/scenario"
            class="es.uah.aut.srg.tmtcif.scenario.scenarioPackage"
            genModel="model/scenario.genmodel"/>
   </extension>

</plugin>
